.container {
    border: 5px solid darkgreen;
    width: 1500px;
    background-image: url("https://images.unsplash.com/photo-1618005479492
 bc36dc8aeaf2?q=80&w=1471&auto=format&fit=crop&ixlib=rb 4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    }

    #box {
        border:5px green;
        background-color: lightgreen;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }